
.blog-box {
    margin-bottom: 1.5rem;
}

.blog-box-card {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: var(--shadow-outset-small);
    position: relative;
}

.blog-box-card img {
    object-fit: cover;
}

.blog-box-card > .title {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: var(--dark-1);
    background-color: var(--light-3-50);
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 1rem;
    max-width: 65%;
}

.blog-box-card > .blog-box-description {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    width: 30rem;
    max-width: 60%;
    background-color: var(--color-1);
    color: var(--color-1);
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    z-index: 20;
}

.blog-box-card > .blog-box-description .title,
.blog-box-card > .blog-box-description .description,
.blog-box-card > .blog-box-description .date {
    color: var(--color-1);
    transition: color 300ms 400ms linear;
    -webkit-transition: color 300ms 400ms linear;
    -moz-transition: color 300ms 400ms linear;
    -ms-transition: color 300ms 400ms linear;
    -o-transition: color 300ms 400ms linear;
}

.blog-box-card > .blog-box-description .title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.date {
    font-size: 0.8rem;
    color: var(--color-2);
    letter-spacing: 2px;
    display: block;
    text-align: left;
    direction: ltr;
    width: 100%;
}

.blog-box-card:hover > .blog-box-description {
    left: 0;
    color: var(--dark-3);
}

.blog-box-card:hover > .blog-box-description .title {
    color: var(--color-4);
}

.blog-box-card:hover > .blog-box-description .description {
    color: var(--light-3);
}

.blog-box-card:hover > .blog-box-description .date {
    color: var(--color-2);
}