@import url("../global/main.css");
@import url("../header.css");
@import url("../footer.css");

.main > article {
    margin: 5rem auto;
    max-width: 100%;
    width: 40rem;
    padding: 4rem 5rem;
    background-color: var(--white-50);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.form-check-label,
.col-form-label {
    color: var(--dark-1);
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.form-check-label {
    color: var(--dark-2);
    font-size: 0.9rem;
    transition: all 70ms linear;
    -webkit-transition: all 70ms linear;
    -moz-transition: all 70ms linear;
    -ms-transition: all 70ms linear;
    -o-transition: all 70ms linear;
}

.form-check-input:checked[type="checkbox"] + .form-check-label {
    color: var(--color-1);
}

.forgot-password {
    color: var(--color-1);
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    padding: 0 1rem;
}

.btn-login {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0 2rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 3rem;
    background-color: var(--color-1);
    color: var(--color-7);
    border: 0;
}