

.ibv_vb_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 300ms linear, transform 300ms linear;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.ibv_vb_modal.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

.ibv_vb_modal_back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: -100;
    /*background-color: var(--color_back_dark);*/
    background-color: transparent;
    transition: all 300ms linear;
}

.ibv_vb_modal_back.active {
    z-index: 18;
    opacity: 1;
    pointer-events: all;
}

.ibv_vb_modal_inside {
    position: relative;
    background-color: var(--color_back_light-transparent);
    top: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
    width: 22rem;
    height: 31rem;
    border-radius: 20px;
    max-height: 90%;
}

@media (orientation: portrait) and (min-width: 768px) {
    .ibv_vb_modal_inside {
        border-radius: 30px;
    }
}

@media (orientation: landscape) and (min-height: 576px) {
    .ibv_vb_modal_inside {
        width: 22rem;
        height: 29rem;
        border-radius: 22px 22px 22px 20px;
    }
}

@media (orientation: landscape) and (min-width: 992px) {
    .ibv_vb_modal_inside {
        width: 22rem;
        height: 29rem;
        border-radius: 22px 22px 22px 20px;
    }
}

@media (min-width: 1200px) {
    .ibv_vb_modal_inside {
        width: 22rem;
        height: 28rem;
    }
}

.ibv_vb_modal_inside::before {
    content: '';
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    position: absolute;
    z-index: 1;
    background-image: url(../icons/border-image-vertical.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
}

/*normal view*/
@media (orientation: landscape) and (min-height: 576px) {
    .ibv_vb_modal_inside::before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media (orientation: landscape) and (min-width: 992px) {
    .ibv_vb_modal_inside::before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.ibv_vb_modal_header {
    background-color: var(--color_main_lightest);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    color: var(--white);
    border-radius: 21px 21px 0 0;
    cursor: move;
    right: 2px;
    position: relative;
    width: calc(100% - 4px);
}

/*normal view*/
@media (orientation: landscape) and (min-height: 576px) {
    .ibv_vb_modal_header {
        border-radius: 25px 25px 0 0;
    }
}

@media (orientation: landscape) and (min-width: 992px) {
    .ibv_vb_modal_header {
        border-radius: 25px 25px 0 0;
    }
}

.ibv_vb_modal_body {
    padding: 1rem 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.ibv_vb_modal_body.scroll {
    height: 100%;
}

.ibv_vb_modal_body.scroll > div {
    height: calc(100% - 5rem);
    overflow: auto;
}

.add_class_modal .ibv_vb_modal_body {
    height: calc(100% - 65px);
    padding-left: 1rem;
}

.add_class_modal .ibv_vb_modal_body > div {
    height: 100%;
    overflow: auto;
    padding-left: 1rem;
}

.ibv_vb_modal_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 35px;*/
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 5px 10px 10px;
}

@supports (backdrop-filter: blur(8px)) {
    .ibv_vb_custom_select_items {
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
    }

    /*.custom_select_scroll_up span,*/
    /*.custom_select_scroll_down span,*/
    .alertify .ajs-dialog,
    .content-maker-back-content,
    .btn-glass-green,
    .btn-glass-light-blue,
    .ibv_vb_custom_select_preview_img,
    .ibv_vb_modal_inside,
    .mds-bootstrap-persian-datetime-picker-popover {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

@-moz-document url-prefix() {
    /*.custom_select_scroll_up span::after,*/
    /*.custom_select_scroll_down span::after,*/
    .alertify .ajs-dialog::after,
    .content-maker-back-content::after,
    .btn-glass-green::after,
    .btn-glass-light-blue::after,
    .ibv_vb_custom_select_preview_img::after,
    .mds-bootstrap-persian-datetime-picker-popover::after,
    .ibv_vb_custom_select_items_parent::after,
    .ibv_vb_modal_inside::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        /* background-color: var(--color_back_light); */
        border-radius: inherit;
        z-index: -1;
        background-image: -moz-radial-gradient(99% 93%, circle cover, var(--color_back_light) 0, var(--color_back_light-transparent) 56%);
    }

    /*.custom_select_scroll_up span::before,*/
    /*.custom_select_scroll_down span::before,*/
    .alertify .ajs-dialog::before,
    .content-maker-back-content::before,
    .btn-glass-green::before,
    .btn-glass-light-blue::before,
    .ibv_vb_custom_select_items_parent::before
        /*.ibv_vb_modal_inside::before*/
    {
        content: '';
        background-color: #00000091;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        filter: blur(100px);
        z-index: -2;
    }
    .ibv_vb_custom_select_items_parent::before {
        filter: blur(15px);
    }
}

/**alertify**/
.alertify {
    position: relative;
    z-index: 100000;
}

.alertify .ajs-dialog {
    width: 25rem;
    min-height: 16rem;
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--color_back_light-transparent);
    border: 1px solid var(--color_red);
    /*min-height: unset;*/
    max-width: unset;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alertify.alertify-info .ajs-dialog {
    border-color: var(--color_main_light);
}

.alertify .ajs-commands {
    position: absolute;
    left: 10px;
    top: 10px;
    margin: initial;
}

.alertify.ajs-movable:not(.ajs-maximized) .ajs-header {
    padding: 0.5rem 1rem;
    background-color: var(--color_red-3);
    font-size: 0;
    height: 3rem;
    position: relative;
}

.alertify.alertify-info.ajs-movable:not(.ajs-maximized) .ajs-header {
    background-color: var(--color_2);
}

.alertify.ajs-movable:not(.ajs-maximized) .ajs-header::before {
    content: '\f071';
    font-size: 2rem;
    color: var(--color_red);
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.alertify.alertify-info.ajs-movable:not(.ajs-maximized) .ajs-header::before {
    content: '\f05a';
    color: var(--color_main_light);
}

.alertify.ajs-closable .ajs-commands button.ajs-close {
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms linear;
    background-color: transparent;
    color: var(--color_red);
    font-size: 1.4rem;
    background-image: none;
    margin: 0;
    position: absolute;
    left: 4px;
    top: -4px;
    bottom: initial;
    right: initial;
    text-shadow: var(--shadow-outset-smallest);
    box-shadow: var(--shadow-inset-small-icon);
    border-radius: 50%;
    padding: 0.875rem;
    border: 2px solid var(--white);
}

.alertify.alertify-info.ajs-closable .ajs-commands button.ajs-close {
    color: var(--color_main_light);
}

/*normal view*/
@media (orientation: landscape) and (min-height: 576px) {
    .alertify.ajs-closable .ajs-commands button.ajs-close {
        top: -2px;
    }
}

@media (orientation: landscape) and (min-width: 992px) {
    .alertify.ajs-closable .ajs-commands button.ajs-close {
        top: -2px;
    }
}

.alertify.ajs-closable .ajs-commands button.ajs-close::before {
    content: "\f00d";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
}

.alertify.ajs-closable .ajs-commands button.ajs-close:hover {
    transform: rotate(90deg);
}

.alertify .ajs-body .ajs-content {
    text-align: center;
    padding: 3.5rem 1rem 1rem 1rem;
    position: relative;
}

.alertify .ajs-body .ajs-content::before {
    content: 'اخطار!';
    font-size: 2rem;
    position: absolute;
    display: block;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color_red);
    font-weight: 500;
}

.alertify.alertify-info .ajs-body .ajs-content::before {
    content: 'اطلاعیه!';
    color: var(--color_main_light);
}

.alertify .ajs-footer {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    border-radius: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.alertify .ajs-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertify.alertify-info .ibv_vb_custom-button {
    background-color: var(--color_2);
    color: var(--color_main_light) !important;
    border: 1px solid var(--color_main_light);
}

.alertify.alertify-info .ibv_vb_custom-button.red-2 {
    background-color: var(--color_back_light);
    color: var(--color_text) !important;
    border: 0;
}

/**end alertify**/

/*calendar*/
.mds-bootstrap-persian-datetime-picker-popover {
    font-family: iransans, sans-serif !important;
    border: 0;
    /*box-shadow: var(--shadow-outset-small);*/
    border-radius: 18px;
    background-color: var(--color_back_light-transparent);
    /*overflow: hidden;*/
    width: 14rem;
    padding: 12px;
}

.mds-bootstrap-persian-datetime-picker-popover.bs-popover-bottom .arrow::after,
.mds-bootstrap-persian-datetime-picker-popover.bs-popover-bottom .arrow::before {
    border-bottom-color: var(--color_back_light-transparent) !important;
}

.mds-bootstrap-persian-datetime-picker-popover.bs-popover-top .arrow::before,
.mds-bootstrap-persian-datetime-picker-popover.bs-popover-top .arrow::after {
    border-top-color: var(--color_back_light-transparent) !important;
}

.mds-bootstrap-persian-datetime-picker-popover.bs-popover-top .arrow {
    bottom: calc((0.5rem + 0px) * -1);
}

.mds-bootstrap-persian-datetime-picker-popover.bs-popover-bottom .arrow {
    top: calc((0.5rem + 1px) * -1);
}

.mds-bootstrap-persian-datetime-picker-popover .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: transparent;
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container .dropdown-menu {
    background-color: var(--color_back_light-transparent);
    border-radius: 15px;
    border-color: var(--color_back_dark);
    width: 100%;
    padding: 0;
    overflow: auto;
    height: 10rem;
    scrollbar-width: none;
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container .dropdown-menu::-webkit-scrollbar {
    display: none;
}

.mds-bootstrap-persian-datetime-picker-popover .dropdown-toggle::after {
    display: none;
}

.mds-bootstrap-persian-datetime-picker-popover .table th,
.mds-bootstrap-persian-datetime-picker-popover .table td {
    border: 0;
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table td {
    border-radius: 50%;
    height: 1.7rem;
    font-size: 0.8rem;
    vertical-align: middle !important;
    color: var(--color_main_lightest);
}

.mds-bootstrap-persian-datetime-picker-popover table .btn-light {
    background-color: var(--color_2);
    border: 0;
    border-radius: 18px;
    color: var(--white);
    font-weight: 500;
    font-size: 0.94rem;
    opacity: 1;
    box-shadow: none;
}

#mdsBootstrapPersianDatetimePickerMonthSelectorButon {
    background-color: transparent !important;
    color: var(--color_2);
    cursor: pointer !important;
}

.mds-bootstrap-persian-datetime-picker-popover table .btn-light {
    box-shadow: var(--shadow-outset);
}

/*.mds-bootstrap-persian-datetime-picker-popover table .btn-light:hover {
    background-color: transparent;
}*/

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container .btn[disabled] {
    opacity: 1;
    cursor: not-allowed;
    background-color: transparent;
    color: var(--color_2);
    font-weight: 500;
    font-size: 0.94rem;
}

.mds-bootstrap-persian-datetime-picker-popover .btn-light:not(:disabled):not(.disabled):active,
.mds-bootstrap-persian-datetime-picker-popover .btn-light:not(:disabled):not(.disabled).active,
.mds-bootstrap-persian-datetime-picker-popover .show > .btn-light.dropdown-toggle {
    box-shadow: var(--shadow-inset);
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container .dropdown-divider {
    margin-top: 1px;
}

.mds-bootstrap-persian-datetime-picker-popover .popover-header {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: var(--color_2);
    background-color: transparent;
    border: 0;
    border-radius: 18px 18px 0 0;
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table table tbody.days td[data-day][data-today] {
    background-color: transparent;
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table table tbody.days td[data-day]:not([data-special-date]):hover,
.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table table tbody.days td[data-nm]:hover,
.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table table tbody.days td[data-pm]:hover {
    box-shadow: var(--shadow-inset);
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table table tbody.days td[data-day][data-selectedday] {
    background-color: var(--color_2);
    box-shadow: var(--shadow-outset-small);
}

.mds-bootstrap-persian-datetime-picker-popover table table table th {
    width: 6rem !important;
}

.mds-bootstrap-persian-datetime-picker-popover table table table th button {
    cursor: default !important;
}

.mds-bootstrap-persian-datetime-picker-popover table table table th:first-of-type,
.mds-bootstrap-persian-datetime-picker-popover table table table th:last-of-type {
    display: none;
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container {
    width: 100%;
    min-width: unset;
}

.mds-bootstrap-persian-datetime-picker-popover .text-danger {
    color: var(--color_main) !important;
}

.mds-bootstrap-persian-datetime-picker-container table table input[type="text"] {
	background-color: transparent;
	box-shadow: var(--shadow-inset-small);
	border-radius: 50%;
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table tfoot > tr:first-child table tbody > tr > td:nth-last-child(1),
.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table tfoot > tr:first-child table tbody > tr > td:nth-last-child(2) {
    display: none;
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table tfoot > tr:first-child table tbody > tr > td:nth-child(1),
.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table tfoot > tr:first-child table tbody > tr > td:nth-child(2),
.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table tfoot > tr:first-child table tbody > tr > td:nth-child(3) {
    position: relative;
    padding: 2rem 0 0.5rem 0;
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table tfoot > tr:first-child table tbody > tr > td:nth-child(1)::before,
.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table tfoot > tr:first-child table tbody > tr > td:nth-child(3)::before {
	content: "ساعت";
	position: absolute;
	top: 0.5rem;
	left: 0;
	display: block;
	text-align: center;
	margin: auto;
	right: 0;
	color: var(--color_main_light);
}

.mds-bootstrap-persian-datetime-picker-popover .mds-bootstrap-persian-datetime-picker-container table tfoot > tr:first-child table tbody > tr > td:nth-child(3)::before {
    content: "دقیقه";
}

/*clock time */
.mdtp__time_holder {
    direction: ltr;
}

.clock-timepicker {
    position: absolute !important;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 4px 16px;
    text-align: left;
    font-size: 0.9rem;
    margin: 0;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}