:root {

    --white:   #ffffff;
    --light-1: #eeeeee;
    --light-2: #dddddd;
    --light-3: #cccccc;
    --light-4: #bbbbbb;
    --light-5: #aaaaaa;
    --dark-5:  #999999;
    --dark-4:  #888888;
    --dark-3:  #666666;
    --dark-2:  #444444;
    --dark-1:  #222222;
    --black:   #000000;

    --info-light:  #7ab3bc;
    --danger-light:#e0757f;

    --breakpoint-xs:   0;
    /* --breakpoint-sm:   576px;
    --breakpoint-md:   768px;
    --breakpoint-lg:   992px;
    --breakpoint-xl:   1200px; */
    --breakpoint-xxl:  1600px;
    --breakpoint-xxxl: 1920px;

    --color-1: #00A7E1;
    --color-2: #6200B3;
    --color-3: #FFB100;
    --color-4: #FFF01B;
    --color-5: #EE3CB9;
    --color-6: #1EEEDD;
    --color-7: #F1F1F1;
    --color-8: #000000;

    --color-1-50: #00a9e180;
    --color-2-50: #6200B380;
    --color-3-50: #FFB10080;
    --color-4-50: #FFF01B80;
    --color-5-50: #EE3CB980;
    --color-6-50: #1EEEDD80;
    --color-7-50: #F1F1F180;
    --color-8-50: #00000080;

    --gradient-header: linear-gradient( 180deg, var(--color-2) 20%, var(--color-3) 100% );
    --gradient-caption: linear-gradient( 205deg, var(--light-1) 0%, var(--color-7-50) 35%, transparent 90% );
    --gradient-footer: linear-gradient( 0deg, var(--color-2) 20%, var(--color-3) 100% );
}

