@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 200;
    src: url('../../font/iranyekan/eot/iranyekanwebthinfanum.eot');
    src: url('../../font/iranyekan/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
    url('../../font/iranyekan/woff/iranyekanwebthinfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url('../../font/iranyekan/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../../font/iranyekan/eot/iranyekanweblightfanum.eot');
    src: url('../../font/iranyekan/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
    url('../../font/iranyekan/woff/iranyekanweblightfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url('../../font/iranyekan/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 400;
    src: url('../../font/iranyekan/eot/iranyekanwebregularfanum.eot');
    src: url('../../font/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
    url('../../font/iranyekan/woff/iranyekanwebregularfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url('../../font/iranyekan/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('../../font/iranyekan/eot/iranyekanwebmediumfanum.eot');
    src: url('../../font/iranyekan/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
    url('../../font/iranyekan/woff/iranyekanwebmediumfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url('../../font/iranyekan/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 600;
    src: url('../../font/iranyekan/eot/iranyekanwebboldfanum.eot');
    src: url('../../font/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
    url('../../font/iranyekan/woff/iranyekanwebboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url('../../font/iranyekan/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 700;
    src: url('../../font/iranyekan/eot/iranyekanwebextraboldfanum.eot');
    src: url('../../font/iranyekan/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
    url('../../font/iranyekan/woff/iranyekanwebextraboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url('../../font/iranyekan/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('../../font/iranyekan/eot/iranyekanwebblackfanum.eot');
    src: url('../../font/iranyekan/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
    url('../../font/iranyekan/woff/iranyekanwebblackfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url('../../font/iranyekan/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('../../font/iranyekan/eot/iranyekanwebextrablackfanum.eot');
    src: url('../../font/iranyekan/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
    url('../../font/iranyekan/woff/iranyekanwebextrablackfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url('../../font/iranyekan/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}

@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url('../../font/password.ttf') format('truetype');
}

body {
    font-family: iranyekan, Tahoma, sans-serif;
}