@import url("color.css");

@supports (scrollbar-width: thin) {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-3) var(--light-2);
    }
}

::-webkit-scrollbar {
    width: 8px;
    padding: 15px;
    /* height: 50vh; */
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--light-2);
    border-width: 4px;
    border-color: var(--color-3);
    padding: 15px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-3);
    /* border: 1px solid var(--white); */
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

* {
    outline: none;
}

img, i {
    user-select: none;
}

button > i {
    pointer-events: none;
}

body {
    position: relative;
    overflow-x: hidden;
}

a:hover {
    color: var(--color-2);
}

.text-color-1 {
    color: var(--color-1) !important;
}

.text-color-2 {
    color: var(--color-2) !important;
}

.text-color-3 {
    color: var(--color-3) !important;
}

.text-color-4 {
    color: var(--color-4) !important;
}

.text-color-5 {
    color: var(--color-5) !important;
}

.text-color-6 {
    color: var(--color-6) !important;
}

.text-color-7 {
    color: var(--color-7) !important;
}

.text-color-8 {
    color: var(--color-8) !important;
}

.text-dark-1 {
    color: var(--dark-1) !important;
}

.text-dark-2 {
    color: var(--dark-2) !important;
}

.text-dark-3 {
    color: var(--dark-3) !important;
}

.text-dark-4 {
    color: var(--dark-4) !important;
}

.text-dark-5 {
    color: var(--dark-5) !important;
}

.text-light-1 {
    color: var(--light-1) !important;
}

.text-light-2 {
    color: var(--light-2) !important;
}

.text-light-3 {
    color: var(--light-3) !important;
}

.text-light-4 {
    color: var(--light-4) !important;
}

.text-light-5 {
    color: var(--light-5) !important;
}

.bg-color-1 {
    background-color: var(--color-1) !important;
}

.bg-color-2 {
    background-color: var(--color-2) !important;
}

.bg-color-3 {
    background-color: var(--color-3) !important;
}

.bg-color-4 {
    background-color: var(--color-4) !important;
}

.bg-color-5 {
    background-color: var(--color-5) !important;
}

.bg-color-6 {
    background-color: var(--color-6) !important;
}

.bg-color-7 {
    background-color: var(--color-7) !important;
}

.bg-color-8 {
    background-color: var(--color-8) !important;
}

.bg-dark-1 {
    background-color: var(--dark-1) !important;
}

.bg-dark-2 {
    background-color: var(--dark-2) !important;
}

.bg-dark-3 {
    background-color: var(--dark-3) !important;
}

.bg-dark-4 {
    background-color: var(--dark-4) !important;
}

.bg-dark-5 {
    background-color: var(--dark-5) !important;
}

.bg-light-1 {
    background-color: var(--light-1) !important;
}

.bg-light-2 {
    background-color: var(--light-2) !important;
}

.bg-light-3 {
    background-color: var(--light-3) !important;
}

.bg-light-4 {
    background-color: var(--light-4) !important;
}

.bg-light-5 {
    background-color: var(--light-5) !important;
}

.object-fit-cover{
    object-fit: cover !important;
    object-position: center;
}

.object-fit-contain{
    object-fit: contain !important;
    object-position: center;
}

.object-position-tr {
    object-position: top right !important;
}

.object-position-tl {
    object-position: top left !important;
}

.object-position-br {
    object-position: bottom right !important;
}

.object-position-bl {
    object-position: bottom left !important;
}

.object-position-top-rem {
    object-position: 0 -3rem;
}

.btn-click-color-1, .btn-click-color-1:focus {
    box-shadow: -2px 2px 4px -1px var(--color-1);
}

.btn-click-color-1:active {
    box-shadow: inset -2px 2px 6px 2px var(--color-1);
}

.btn-click-color-2, .btn-click-color-2:focus {
    box-shadow: -2px 2px 4px -1px var(--color-2);
}

.btn-click-color-2:active {
    box-shadow: inset -2px 2px 6px -2px var(--color-2);
}

.btn-click-color-3, .btn-click-color-3:focus {
    box-shadow: -2px 2px 4px -1px var(--color-3);
}

.btn-click-color-3:active {
    box-shadow: inset -2px 2px 6px -2px var(--color-3);
}

.btn-click-color-4, .btn-click-color-4:focus {
    box-shadow: -2px 2px 4px -1px var(--color-4);
}

.btn-click-color-4:active {
    box-shadow: inset -2px 2px 6px -2px var(--color-4);
}

.btn-click-color-5, .btn-click-color-5:focus {
    box-shadow: -2px 2px 4px -1px var(--color-5);
}

.btn-click-color-5:active {
    box-shadow: inset -2px 2px 6px -2px var(--color-5);
}

.btn-click-color-6, .btn-click-color-6:focus {
    box-shadow: -2px 2px 4px -1px var(--color-6);
}

.btn-click-color-6:active {
    box-shadow: inset -2px 2px 6px -2px var(--color-6);
}

.btn-click-color-7, .btn-click-color-7:focus {
    box-shadow: -2px 2px 4px -1px var(--color-7);
}

.btn-click-color-7:active {
    box-shadow: inset -2px 2px 6px -2px var(--color-7);
}

.btn-click-color-8, .btn-click-color-8:focus {
    box-shadow: -2px 2px 4px -1px var(--color-8);
}

.btn-click-color-8:active {
    box-shadow: inset -2px 2px 6px -2px var(--color-8);
}

.btn-outline-1, .btn-outline-2, .btn-outline-3, .btn-outline-4,
.btn-outline-5, .btn-outline-6, .btn-outline-7, .btn-outline-8,
.btn-color-1, .btn-color-2, .btn-color-3, .btn-color-4,
.btn-color-5, .btn-color-6, .btn-color-7, .btn-color-8 {
	color: var(--black);
	font-size: 0.9rem;
	padding: 0.5rem 1.25rem;
	border: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    /* display: block; */
}

.btn-color-1, .btn-color-3 {
    color: var(--white);
}

.btn-color-1 {
    background-color: var(--color-1);
}

.btn-color-2 {
    background-color: var(--color-2);
}

.btn-color-3 {
    background-color: var(--color-3);
}

.btn-color-4 {
    background-color: var(--color-4);
}

.btn-color-5 {
    background-color: var(--color-5);
}

.btn-color-6 {
    background-color: var(--color-6);
}

.btn-color-7 {
    background-color: var(--color-7);
}

.btn-color-8 {
    background-color: var(--color-8);
}

.btn-color-1:hover {
    background-color: var(--color-1-75);
}

.btn-color-2:hover {
    background-color: var(--color-2-75);
}

.btn-color-3:hover {
    background-color: var(--color-3-75);
}

.btn-color-4:hover {
    background-color: var(--color-4-75);
}

.btn-color-5:hover {
    background-color: var(--color-5-75);
}

.btn-color-6:hover {
    background-color: var(--color-6-75);
}

.btn-color-7:hover {
    background-color: var(--color-7-75);
}

.btn-color-8:hover {
    background-color: var(--color-8-75);
}

.btn-color-1:active,
.btn-color-2:active,
.btn-color-3:active,
.btn-color-4:active,
.btn-color-5:active,
.btn-color-6:active,
.btn-color-7:active,
.btn-color-8:active {
    box-shadow: var(--shadow-inset-input);
}

.btn-outline-1, .btn-outline-2, .btn-outline-3, .btn-outline-4,
.btn-outline-5, .btn-outline-6, .btn-outline-7, .btn-outline-8 {
    border: 1px solid;
}

.btn-outline-1 {
    border-color: var(--color-1);
}

.btn-outline-2 {
    border-color: var(--color-2);
}

.btn-outline-3 {
    border-color: var(--color-3);
}

.btn-outline-4 {
    border-color: var(--color-4);
}

.btn-outline-5 {
    border-color: var(--color-5);
}

.btn-outline-6 {
    border-color: var(--color-6);
    color: var(--color-6);
}

.btn-outline-7 {
    border-color: var(--color-7);
}

.btn-outline-8 {
    border-color: var(--color-8);
}

.btn-outline-1:hover {
    background-color: var(--color-1);
}

.btn-outline-2:hover {
    background-color: var(--color-2);
}

.btn-outline-3:hover {
    background-color: var(--color-3);
}

.btn-outline-4:hover {
    background-color: var(--color-4);
}

.btn-outline-5:hover {
    background-color: var(--color-5);
}

.btn-outline-6:hover {
    background-color: var(--color-6);
    color: var(--black);
}

.btn-outline-7:hover {
    background-color: var(--color-7);
}

.btn-outline-8:hover {
    background-color: var(--color-8);
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
}

.title.small {
    font-size: 0.9rem;
    font-weight: 500;
}

.title.medium {
    font-size: 1.3rem;
    font-weight: 700;
}

.title.big {
    font-size: 1.5rem;
    font-weight: 700;
}

.description {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 3;
	text-align: justify;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-6 {
    margin-top: 6rem;
}

@media ( min-width: 576px ) {
    .mt-sm-8 {
    margin-top: 8rem;
}

    .mt-sm-6 {
        margin-top: 6rem;
    }
}

@media ( min-width: 768px ) {
    .mt-md-8 {
    margin-top: 8rem;
}

    .mt-md-6 {
        margin-top: 6rem;
    }
}

@media ( min-width: 992px ) {
    .mt-lg-8 {
    margin-top: 8rem;
}

    .mt-lg-6 {
        margin-top: 6rem;
    }
}

@media ( min-width: 1200px ) {
    .mt-xl-8 {
    margin-top: 8rem;
}

    .mt-xl-6 {
        margin-top: 6rem;
    }
}

@media ( min-width: 1600px ) {
    .mt-xxl-8 {
    margin-top: 8rem;
}

    .mt-xxl-6 {
        margin-top: 6rem;
    }
}

@media ( min-width: 1920px ) {
    .mt-xxxl-8 {
    margin-top: 8rem;
}

    .mt-xxxl-6 {
        margin-top: 6rem;
    }
}

.custom-input-text {
	appearance: none;
	background: none;
	border: 0;
	box-shadow: var(--shadow-outset-input);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	height: 2.4rem;
	font-size: 0.9rem;
	background-color: var(--light-4);
	color: var(--dark-2);
	transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	padding: 0.5rem;
}

.custom-input-text::placeholder {
    font-size: 0.8rem;
    color: var(--dark-3);
}

.custom-input-text:focus::placeholder,
.custom-input-text:active::placeholder {
    font-size: 0.7rem;
}

.custom-input-text:focus,
.custom-input-text:active {
    box-shadow: var(--shadow-inset-input);
}

.dir-ltr {
    direction: ltr !important;
}

.dir-rtl {
    direction: rtl !important;
}

.custom-select-box-parent {
	position: relative;
	height: 2.4rem;
}

.custom-select-box {
    appearance: none;
    border: 0;
    background-color: var(--light-4);
    box-shadow: var(--shadow-outset-input);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
}

.custom-select-box:focus,
.custom-select-box:active {
    box-shadow: var(--shadow-inset-input);
    font-size: 0.7rem;
}

.font-size-0-5 {
    font-size: 0.5rem !important;
}

.font-size-0-6 {
    font-size: 0.6rem !important;
}

.font-size-0-7 {
    font-size: 0.7rem !important;
}

.font-size-0-8 {
    font-size: 0.8rem !important;
}

.font-size-0-85 {
    font-size: 0.85rem !important;
}

.font-size-0-9 {
    font-size: 0.9rem !important;
}

.font-size-0-95 {
    font-size: 0.95rem !important;
}

.font-size-1-0 {
    font-size: 1rem !important;
}

.font-size-1-1 {
    font-size: 1.1rem !important;
}

.font-size-1-2 {
    font-size: 1.2rem !important;
}

.font-size-1-3 {
    font-size: 1.3rem !important;
}

.font-size-1-4 {
    font-size: 1.4rem !important;
}

.font-size-1-5 {
    font-size: 1.5rem !important;
}

.font-size-1-6 {
    font-size: 1.6rem !important;
}

.font-size-2-0 {
    font-size: 2rem !important;
}

.font-size-3-0 {
    font-size: 3rem !important;
}

.font-size-4-0 {
    font-size: 4rem !important;
}

.btn-text {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: var(--dark-2);
}

.btn-box-shadow {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: var(--dark-2);
    box-shadow: var(--shadow-outset-input);
    font-size: 0.8rem;
    border: 2px solid var(--light-4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
    height: 2rem;
}

.btn-box-shadow:active,
.btn-box-shadow:focus {
    box-shadow: var(--shadow-inset-input);
}

.align-sub {
    vertical-align: sub;
}

.btn-back {
    background-color: var(--light-5);
    box-shadow: var(--shadow-inset-input);
    border: 0;
    color: var(--color-1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-back:hover {
    background-color: var(--dark-5);
    box-shadow: var(--shadow-inset-big);
    color: var(--color-1);
}

.alert {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
}

.transition-alert {
    animation: opacity 500ms forwards;
    -webkit-animation: opacity 500ms forwards;
}

@keyframes opacity {
    from {
        opacity: 0;
        height: 0;
    } to {
        height: 4rem;
        opacity: 1;
    }
}
  
.input-password {
	font-family: 'password';
	-webkit-text-security: disc;
	letter-spacing: 2px;
	font-size: small;
}

.disabled *,
.disabled {
    color: var(--dark-3) !important;
    pointer-events: none;
}