.btn-toggle-navbar {
    display: none;
}

.table-responsive {
	width: 100%;
	max-width: 100%;
	display: table;
}

.appointment-card > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media ( max-width: 1919.9px ) {
    
}

@media ( max-width: 1599.9px ) {
    
}

@media ( max-width: 1199.9px ) {
    html {
        font-size: 14px;
    }

    .object-position-top-rem {
        object-position: center;
    }

    .header {
        height: 40rem;
    }
    
    .description {
        line-height: 2.5;
    }

    .header-description > .title {
        font-size: 1.8rem;
    }

    .blog-box-card {
        height: 25rem;
    }

    .appointment-card.small {
        width: calc(33.33333% - 0.2rem);
        height: 10rem;
    }

    .appointment-card:nth-of-type(2n) {
        margin-right: 0.4rem;
        margin-left: 0.4rem;
    }
}

@media ( max-width: 991.9px ) {
    html {
        font-size: 13px;
    }

    .nav-list-ul:not( .mobile ) > li:not([class^="btn"]) {
        display: none;
    }

    .nav-list-ul:not(.mobile) {
        padding: 0;
        margin: auto 0 auto auto;
    }

    .nav-list-ul:not(.mobile) i {
        font-size: 1.5rem;
    }

    .btn-toggle-navbar {
        display: block;
    }

    .nav-back {
        display: block;
        position: fixed;
        z-index: 9999;
        background-color: var(--dark-2);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 200ms linear;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        -o-transition: all 200ms linear;
    }

    .nav-back.show {
        opacity: 0.4;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: var(--light-1);
        position: fixed;
        top: 0;
        width: 20rem;
        z-index: 10000;
        box-shadow: var(--shadow-outset-big);
        padding: 4rem 2rem;
        transition: all 200ms linear;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        right: -20rem;
        opacity: 0;
    }

    .nav-mobile.show {
        right: 0;
        opacity: 1;
    }

    .nav-mobile > .nav-list-ul {
        display: list-item;
    }

    .nav-mobile > .nav-list-ul > li:not( :last-child ) {
        border-bottom: 1px solid var(--dark-4);
    }

    .nav-mobile > .nav-list-ul > li {
        padding: 0.75rem 0.25rem;
        margin-left: 0;
        margin-right: 0;
    }

    .nav-mobile > .nav-list-ul > li:not([class*="btn"]) > a {
        color: var(--dark-3);
    }

    .nav-mobile > .nav-list-ul > li:not([class*="btn"]) > a:hover {
        color: var(--color-2);
    }

    .nav-mobile-close-btn {
        position: absolute;
        left: 1rem;
        top: 1rem;
        background: transparent;
        border: 0;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-2);
        transition: all 200ms linear;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        -o-transition: all 200ms linear;
    }

    .nav-mobile-close-btn:hover {
        color: var(--color-1);
    }

    .page-contact-us-contact-info .vector {
        width: 190%;
        margin-right: -8rem;
    }
}

@media ( max-width: 767.9px ) {
    .header {
        height: 30rem;
    }

    .header-description {
        /* max-height: 12rem; */
        overflow: hidden;
        justify-content: flex-start;
        padding: 1rem 1.5rem;
        width: 50%;
    }

    .header-description > .description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }

    .about-index-image {
        max-height: 40rem;
    }

    .blog-box-card {
        height: 15rem;
    }

    .blog-box-card > .blog-box-description .title {
        margin-top: 0;
    }

    .blog-box-card > .blog-box-description .description {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.9;
    }

    .footer-large-button > section {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .footer-list {
        margin-top: 0;
    }

    .footer-large-button {
        margin: 0 auto;
    }

    .footer .top > :nth-child( 1 ) {
        order: 1;
    }

    .footer .top > :nth-child( 2 ) {
        order: 2;
    }

    .footer .top > :nth-child( 3 ) {
        order: 4;
    }

    .footer .top > :nth-child( 4 ) {
        order: 3;
    }

    .e-nemad {
        margin-top: 0.5rem;
    }

    .addresses-list {
        max-width: 90%;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    .addresses-list > li {
        margin-bottom: 0.5rem;
    }

    .page-contact-us-contact-info::after {
        top: 0.3rem;
    }

    .appointment-card {
        width: 100%;
        height: 10rem;
    }

    .appointment-card:nth-of-type(2n) {
        margin-left: 0;
        margin-right: 0;
    }

    .appointment-card.small {
        width: calc(50% - 0.2rem);
        height: 10rem;
    }

    .appointment-card.small:nth-of-type(2n) {
        margin-right: 0.4rem;
        margin-left: 0;
    }
}

@media ( max-width: 575.9px ) {
    html {
        font-size: 12px;
    }

    .header {
        height: 20rem;
    }

    .header-description {
        padding: 0.5rem 0.75rem;
        width: 60%;
        bottom: 1rem;
        right: 2rem;
    }

    .header-description > .description {
        -webkit-line-clamp: 3;
    }

    .blog-box-card > .blog-box-description .description {
        -webkit-line-clamp: 4;
    }

    .footer-large-button > section {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .footer-list {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .ul-list {
        margin-top: 1rem;
    }

    .login > .main > article {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    label.col-form-label {
        display: block;
    }

    .nav-header .logo, .nav-absolute .logo {
        height: 4rem;
    }

    .logo-parent-nav {
        padding-right: 0.25rem;
    }

    .page-contact-us-contact-info .vector {
        width: 100%;
        margin-right: 0;
    }

    .page-contact-us-contact-info::after {
        display: none;
    }

    .blog.single-blog-php > .main > .row {
        margin-left: 0;
        margin-right: 0;
    }

    #booking_price {
        max-width: 7rem;
    }

    .appointment-card.small {
        width: 100%;
        height: 12rem;
    }

    .appointment-card.small:nth-of-type(2n) {
        margin-right: auto;
        margin-left: auto;
    }

    .appointment-card.small {
        margin-left: auto;
        margin-right: auto;
    }

    #reservation_form {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #reservation_form > .col-6 {
        flex: 0 0 calc( 75% - 1rem );
        margin-bottom: 1rem;
        overflow: auto;
        width: 100%;
    }

    #reservation_form > .col-6:last-child {
        flex: 0 0 calc( 25% - 1rem );
    }

    #reservation_form > .col-6:last-child {
        margin-bottom: 0;
    }

    .cs-modal-body .profile-image {
        margin: 2rem auto;
    }

    .table-responsive {
        display: block;
    }
}