.footer {
	background-image: url("../image/footer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	z-index: 1;
}

.footer::before,
.footer::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background-image: var(--gradient-footer);
	opacity: 50%;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -1;
}

.footer::before {
	background-color: var(--light-2);
	background-image: none;
	opacity: 90%;
}

.footer .bottom {
	padding: 1rem 1rem;
	/* box-shadow: inset -2px -7px 16px -3px var(--light-5); */
	color: var(--black);
	/* background-color: var(--light-5); */
	font-size: 0.9rem;
	font-weight: 500;
}

.footer .top {
    padding: 2rem 1rem;
}

.footer-large-button {
	color: var(--color-8);
	border-radius: 0 25px 0 25px;
	-webkit-border-radius: 0 25px 0 25px;
	-moz-border-radius: 0 25px 0 25px;
	-ms-border-radius: 0 25px 0 25px;
	-o-border-radius: 0 25px 0 25px;
	overflow: hidden;
	width: 30rem;
	justify-content: center;
	align-items: center;
	margin: 4rem auto;
	max-width: 100%;
}

.footer-large-button > section {
    padding: 2rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.footer-large-button > section > i {
	font-size: 2.5rem;
}

.footer-large-button > section > p {
	font-size: 1rem;
}

.footer-large-button > section:nth-child(1) {
	background-color: var(--color-2-50);
}

.footer-large-button > section:nth-child(2) {
	background-color: var(--color-2-25);
}

.footer-large-button > section:nth-child(3) {
	background-color: var(--color-6-25);
}

.footer-large-button > section:nth-child(4) {
	background-color: var(--color-7-25);
}

.footer-large-button > section:hover {
	background-color: var(--color-2);
	color: var(--color-1);
}

.footer-large-button > section > .fa-phone-volume {
    transform: rotate(45deg) rotateY(180deg);
    -webkit-transform: rotate(45deg) rotateY(180deg);
    -moz-transform: rotate(45deg) rotateY(180deg);
    -ms-transform: rotate(45deg) rotateY(180deg);
    -o-transform: rotate(45deg) rotateY(180deg);
}

.e-nemad {
    width: 6rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.footer-list {
    margin-top: 2rem;
}

.footer-list > .title {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--color-8);
}

.ul-list {
	list-style: none;
	line-height: 2.5;
	font-size: 1rem;
	font-weight: 500;
	margin: 2rem 0 0;
	padding: 0 1.15rem 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.ul-list > li {
    padding-right: 20px;
    position: relative;
    flex: 0 0 50%;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.ul-list > li::before {
	content: "";
	width: 13px;
	height: 13px;
	background-color: var(--color-3);
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	transition: inherit;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-ms-transition: inherit;
	-o-transition: inherit;
}

.ul-list > li > a {
	color: var(--dark-2);
	transition: inherit;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-ms-transition: inherit;
	-o-transition: inherit;
	font-weight: 600;
}

.ul-list > li:hover {
    padding-right: 35px;
    color: var(--dark-2);
}

.ul-list > li:hover::before {
	width: 25px;
	background-color: var(--color-3);
}

.ul-list > li:hover > a {
	color: var(--color-3);
}

.ul-social {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ul-social > li {
	border: 1px solid var(--dark-2);
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	margin-right: 1rem;
}

.ul-social a {
    color: var(--color-1);
    transition: inherit;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -ms-transition: inherit;
    -o-transition: inherit;
}

.ul-social > li:hover {
    border-color: var(--color-2);
}

.ul-social > li:hover a {
    color: var(--color-2);
}